h1{
  font-weight: 700;
  font-size: 45px;

}
input{
  width:100%;
}
.todo-container{
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  text-align: left;
}

.row{
  text-align: left;
  font-weight: 700;
}
