.app-container{
  display: flex;
}


.header{
  margin-bottom: 20px ;
}

.content{
  width: 100%;

}

.sidebar{
  margin-top: 0px;
  padding: 100px;
  min-height: 800px;
}

.post-card {
  min-width: 30 rem;
  margin: 20px 50px;


}
.hashtag{
  margin: 0px 3px;
}

.reactions{
  margin: 10px 0px;
}

.createPost{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.welcome-message{
  margin-top: 200px ;
}


.spinner{
  margin: 200px 0px;
}