.container{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 50%;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}