.kg-item{
  /* background-color: aqua !important; */
  color: blueviolet;
}

.button{
  float: right;
  background-color: rgb(42, 42, 221);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}